<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstoneProject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".Buyer.SendRequirementActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Messages.ChatLogActivity" />
        <activity android:name=".Messages.CreateNewMessageActivity" />
        <activity android:name=".Messages.MessagesActivity" />
        <activity android:name=".DisplayReviewsActivity" />
        <activity android:name=".Buyer.buyer_activities.DisplaySpecificServiceActivity" />
        <activity android:name=".ServiceProvider.seller_activities.AboutMeAsSellerActivity" />
        <activity android:name=".Buyer.buyer_activities.ServiceCategoryActivity"
                    android:parentActivityName=".Buyer.BuyerActivity"
            />
        <activity android:name=".ServiceProvider.seller_activities.BuyersRequestActivity" />
        <activity android:name=".Buyer.buyer_activities.ManageRequestActivity" />
        <activity android:name=".Buyer.buyer_activities.RequestActivity" />
        <activity android:name=".ServiceProvider.seller_activities.CreateServicesActivity" />
        <activity android:name=".ProfileSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.capstoneProject.ServiceProvider.SellerActivity" />
        </activity>
        <activity android:name=".ServiceProvider.SellerActivity" />
        <activity android:name=".Buyer.BuyerActivity" />
        <activity android:name=".SignUpAcitivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
    </application>

</manifest>