@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

$light-blue: #66e2c3;
$dark-blue : #14366F;
$border-color: #707070;
$normal-font-size: 20px;

.login-box{
    font-family: 'Poppins';
    position: relative;
    background-color: white;
    width: 759px;
    height: auto;
    margin: 0;
    border-radius: 65px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-color: $border-color;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50%;    
    LEFT: 50% 
}

body {
    font-family: 'Poppins';
    background: #f2f2f2;
}

#logoImage {
    display: block;
    margin: auto;
    width: 112px;
    height: 150px;
    padding: 5px;

}



.input-text {
    outline: none;
    font-family: 'Poppins';
    
    width: 352px;
    height: 53px;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: $normal-font-size;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    text-align: left, center;

    #email:hover {
        background: yellow;
    }

    
}

.button {
    font-weight: bold;
    color: white;
    outline: none;
    font-family: 'Poppins'; 
    width: 372px;
    height: 53px;
    border-radius: 35px;
    margin: auto;
    display: block;
    border-style: none;
    margin-bottom: 10px;
    background-color: $light-blue;
    font-size: $normal-font-size;
    

    &:hover {
        transform: scale(1.2);
    }
}

/* The navbar container */
#topnav {
    position: relative;
    background-color: #333;
    overflow: hidden;


    a {
        color: #f2f2f2;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        padding: 2em;
    }

    #signoutbutton {
        font-size: 1em;
        background-color: #333;
        color: white;
        border-radius: 20px;
        border-style: solid;
        border-color: white;
        border-radius: 35px;
        padding-left: 20px;
        padding-right: 20px;
        outline: none;  
    }

    #topnav-centered {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #topnav-right {
        float: right;
    }
    
    
}	 


#topnav a:active {
	background-color: #ddd;
}

/* Links - change color on hover */



#inactive {
    color: white;
}



table{
    position: relative;
    margin: auto;
    font-family: "Poppins";
    border-collapse: collapse;
    width: 100%;

    td{
        padding: 20px;
        
    }

 

    tr:hover{
        background-color: #f2f2f2;
    }
    tbody {
        background-color: white;
    }

    a {
        text-decoration: none;
    }



    

}


#verifybtn, #notnowbtn{


    font-weight: bold;
    color: white;
    outline: none;
    font-family: 'Poppins'; 
    width: 100px;
    height: 53px;
    border-radius: 35px;
    margin: 2px;
    border-style: none;
    margin-bottom: 10px;
    font-size: $normal-font-size;
    
  

    &:hover {
        transform: scale(1.2);
    }


}

#verifybtn{
    background-color: green;
}

#notnowbtn{
    background-color: red;
}

.tableheader{
    
      
    font-weight: bold;
    font-size: larger;
    
    margin-left: auto;
    margin-right: auto;
    
    :hover {
        background-color: #f2f2f2;
    }
}



