{% extends "web/layout.html" %}
{% load static %}
{% block body %}

<!--This is for the nav-->
	<center>
		<nav id="topnav"  >
			<a href="{%url 'index'%}" class="active" >VERIFICATION</a>
			<a href="{%url 'charts'%}" >CHARTS</a>
			<a href="{% url 'logout' %}" >LOG OUT</a>
		</nav>
	</center>
<!--This is for the nav-->



<table id="">
    <thead class="tableheader">
        <td>Name</td>
        <td>Age</td>
        <td>Contact Number</td>
        <td>Selfie Image</td>
        <td>Valid ID</td>
        <td>Certificate/Permit</td>
        <td>Action</td>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<script>


    //**********************INDEX.HTML*********************//
    var ref = firebase.database().ref().child("for-verification");
    ref.on("child_added", snap => {
        var name = snap.child("name").val();
        var age = snap.child("age").val();
        var number = snap.child("number").val();
        var selfieImage = snap.child("selfie").val();
        var validId = snap.child("id").val();
        var certificate = snap.child("docu").val();
        var uid = snap.child("uid").val();

        $("#tableBody").append(
            "<tr>" +
            "<td>" + name + "</td>" +
            "<td>" + age + "</td>" +
            "<td>" + number + "</td>" +
            "<td><a href='" + selfieImage + "'>Click here</a></td>" +
            "<td><a href='" + validId + "'>Click here</a></td>" +
            "<td><a href='" + certificate + "'>Click here</a></td>" +
            "<td><button value='" + uid + "' id='verifybtn' onclick='verify(this.value)'>Verify</button><button value='" + uid + "' id='notnowbtn' onclick='notNow(this.value)'>Not Now</button></td>" +
            "</tr>"
        )
    });
    function verify(val) {
        firebase.database().ref('users/' + val).update({
            verified: "VERIFIED"
        }, (error) => {
            if (error) {
                //failed
            } else {
                //successful
                firebase.database().ref('for-verification/' + val).remove();
                location.reload();
                alert("Account " + val + " is now verified.")
            }

        })

    }
    function notNow(val) {
        firebase.database().ref('users/' + val).update({
            verified: "TRY_AGAIN"
        }, (error) => {
            if (error) {
                //failed
            } else {
                //successful
                firebase.database().ref('for-verification/' + val).remove();
                location.reload();
                alert("Account " + val + " is not verified.")
            }

        })
    }

</script>

{% endblock %}